.App {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    padding: 40px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_link {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-weight:initial;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.logo {
    width: 250px;
    height: 140px;
}

.title {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-size: 60px;
    text-align: center;
}

.slate-photo {
    display: grid;
    justify-content: end;
    margin-bottom: 40px;
}

.slate-text {
    font-family: SofiaSansCondensed-VariableFont_wght;
    text-align: center;
    font-size: 62px;
    font-weight: 500;
}

.david-text {
    font-size: large;
    margin-bottom: 10px;
}

.block-technology {
    margin: 80px 75px;
}

.title-text {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
}

.description-text {
    max-width: 900px;
    font-family: Poppins-Light;
    line-height: 1.5;
    font-size: small;
    padding-bottom: 20px;
}

.wrapper-section {
    display: flex;
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    width: 100%;
    display: grid;
    max-width: 80%;
    justify-content: center;
    flex-direction: column;
    background-color: #e0e9f1;
    padding: 40px;
}

.hot-photo {
    width: 900px;
}

.wrapper-section_2 {
    padding-top: 75px;
}

.section_2 {
    width: 100%;
    /*padding: 40px;*/
    display: flex;
    align-items: center;
}

.content-left {
    margin-right: 20px; /* Подстройте отступ по мере необходимости */
}

.content-right {
    flex: 1 1 auto;
    margin-left: 100px;
    margin-right: 300px;

}

.test-text {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-size: larger;
    /*padding: 20px 0;*/
}

.wrapper-section_3 {
    display: flex;
    padding-top: 75px;
    justify-content: flex-end;
}

.section_3 {
    width: 100%;
    display: grid;
    justify-content: center;
    flex-direction: column;
    background-color: #e0e9f1;
    max-width: 80%;
    padding: 80px;
}

.battery-photo {
    width: 900px;
    height: 440px;
}

.wrapper-section_4 {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_4 {
    max-width: 90%;
    justify-content: space-between;
    width: 100%;
    padding: 80px 0;
    display: flex;
    align-items: center;
}

.book-photo {
    width: 500px;
    /*height: 500px;*/
}

.wrapper-section_5 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_5 {
    width: 100%;
    display: flex;
    max-width: 80%;
    flex-direction: column;
    background-color: #f1cdc5;
    padding: 40px;
}

.title-text-footer {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-size: 90px;
    text-align: center;
}

.title-text-footer_2 {
    font-family: SofiaSansCondensed-VariableFont_wght;
    font-size: 90px;
    text-align: left;
    font-weight: bold;
}

.description-text-footer {
    font-family: SofiaSansCondensed-VariableFont_wght;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 20px;
}

.test {
    display: flex;
    margin-left: 90px;
}

.email-text {
    font-weight: bold;
    font-family:SofiaSansCondensed-VariableFont_wght;
}

.phone-text {
    font-weight: bold;
    margin-top: 10px;
    font-family:SofiaSansCondensed-VariableFont_wght;
}

.company-info-text {
    font-family:SofiaSansCondensed-VariableFont_wght;
    font-weight: bold;
    margin-top: 10px;
}

.content-right-photo {

}


